In [28]:
import pandas as pd
import numpy as np
import urllib.request
import requests

In [46]:


# Google Maps Geocoding API and Distance Matrix API endpoints
geocoding_api_url = 'https://maps.googleapis.com/maps/api/geocode/json'
distance_matrix_api_url = 'https://maps.googleapis.com/maps/api/distancematrix/json'

# Google API key
api_key = 'your key'

# Read destinations from the file
with open('dests.txt', 'r') as file:
    destinations = [line.strip() for line in file.readlines()]

# Initialize an empty dataframe
df = pd.DataFrame(columns=['Target', 'Distance_km', 'Duration', 'Longitude', 'Latitude'])

# Process each destination
for destination in destinations:
    # Get the latitude and longitude of the destination using Geocoding API
    geocoding_params = {
        'address': destination,
        'key': api_key
    }
    geocoding_response = requests.get(geocoding_api_url, params=geocoding_params)
    geocoding_data = geocoding_response.json()
    
    if geocoding_data['status'] == 'OK':
        location = geocoding_data['results'][0]['geometry']['location']
        latitude = location['lat']
        longitude = location['lng']

        # Get the distance and duration using Distance Matrix API
        distance_matrix_params = {
            'origins': 'Tel Aviv',
            'destinations': destination,
            'key': api_key
        }
        distance_matrix_response = requests.get(distance_matrix_api_url, params=distance_matrix_params)
        distance_matrix_data = distance_matrix_response.json()

        if distance_matrix_data['status'] == 'OK':
            distance = distance_matrix_data['rows'][0]['elements'][0]['distance']['text']
            duration = distance_matrix_data['rows'][0]['elements'][0]['duration']['text']

            # Append the data to the dataframe
            df = df.append({
                'Target': destination,
                'Distance_km': distance,
                'Duration': duration,
                'Longitude': longitude,
                'Latitude': latitude
            }, ignore_index=True)
        else:
            print(f"Distance Matrix API Error: {distance_matrix_data['status']}")
    else:
        print(f"Geocoding API Error: {geocoding_data['status']}")

# Display the dataframe
df

C:\Users\ASUS VIVOBOOK\AppData\Local\Temp\ipykernel_13468\2764300405.py:44: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({
C:\Users\ASUS VIVOBOOK\AppData\Local\Temp\ipykernel_13468\2764300405.py:44: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({
C:\Users\ASUS VIVOBOOK\AppData\Local\Temp\ipykernel_13468\2764300405.py:44: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({
C:\Users\ASUS VIVOBOOK\AppData\Local\Temp\ipykernel_13468\2764300405.py:44: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({
C:\Users\ASUS VIVOBOOK\AppData\Local\Temp\ipykernel_13468\2764300405.py:44: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({

      Target Distance_km          Duration  Longitude   Latitude
0   Istanbul    1,815 km   21 hours 3 mins  28.978359  41.008238
1  Amsterdam    4,533 km    2 days 0 hours   4.904139  52.367573
2   Valletta    3,793 km    2 days 3 hours  14.514100  35.899237
3      Basel    4,093 km    1 day 20 hours   7.588576  47.559599
4       Doha    2,164 km  22 hours 39 mins  51.531040  25.285447

In [47]:
# Remove commas from 'Distance_km' column
df['Distance_km'] = df['Distance_km'].str.replace(',', '')
# Convert 'Distance_km' column to numeric dtype
df['Distance_km'] = df['Distance_km'].str.replace(' km', '')

# Convert 'Distance_km' column to numeric dtype
df['Distance_km'] = df['Distance_km'].astype(float)

# Sort the dataframe by 'Distance_km' column in descending order
sorted_df = df.sort_values('Distance_km', ascending=False)

# Get the three furthest cities from Tel Aviv
furthest_cities = sorted_df.head(3)

furthest_cities

      Target  Distance_km        Duration  Longitude   Latitude
1  Amsterdam       4533.0  2 days 0 hours   4.904139  52.367573
3      Basel       4093.0  1 day 20 hours   7.588576  47.559599
2   Valletta       3793.0  2 days 3 hours  14.514100  35.899237